<a href="https://colab.research.google.com/github/Indra1206/AI-ASSIGNMENTS/blob/main/ASSIGNMENT_10_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TASK 1:**

In [ ]:
def add_numbers(a, b):
  result = a + b
  return result
print(add_numbers(10, 20))

30

**Task 2:**

In [ ]:
def find_duplicates(nums):
   duplicates = []
   for i in range(len(nums)):
     for j in range(len(nums)):
       if i != j and nums[i] == nums[j] and nums[i] not in duplicates:
         duplicates.append(nums[i])
   return duplicates
numbers = [1,2,3,2,4,5,1,6,1,2]
print(find_duplicates(numbers))

[1, 2]

**Task 3:**

In [ ]:
def c(n):
  x=1
  for i in range(1,n+1):
    x=x*i
  return x
print(c(5))

120

**Task 4:**

In [ ]:
import sqlite3

def create_users_table():
    conn = sqlite3.connect("users.db")
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS users (
            id INTEGER PRIMARY KEY,
            name TEXT,
            email TEXT
        )
    ''')
    # Check if the table is empty before inserting sample data
    cursor.execute("SELECT COUNT(*) FROM users")
    count = cursor.fetchone()[0]
    if count == 0:
        # Optionally, insert some sample data
        cursor.execute("INSERT INTO users (id, name, email) VALUES (?, ?, ?)", (1, 'Alice', 'alice@example.com'))
        cursor.execute("INSERT INTO users (id, name, email) VALUES (?, ?, ?)", (2, 'Bob', 'bob@example.com'))
    conn.commit()
    conn.close()

# Create the table before trying to query it
create_users_table()

**Task 5:**

In [ ]:
def calc(x,y,z):
  if z=="add":
    return x+y
  elif z=="sub":
    return x-y
  elif z=="mul":
    return x*y
  elif z=="div":
    if y != 0:
      return x/y
    else:
      return "Error: Division by zero"
  else:
    print("wrong")
print(calc(10,5,"add"))
print(calc(10,0,"div"))

15
Error: Division by zero